[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
portion = "==2.2.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
PyYAML = "*"
homeassistant = "*"
pytest-homeassistant-custom-component = "*"
# lock homeassistant and pytest-homeassistant-custom-component versions
#homeassistant = "2022.2.8"
#pytest-homeassistant-custom-component = "==0.6.14"
#homeassistant = "2021.12.5"
#pytest-homeassistant-custom-component = "==0.5.9"
mypy = "*"
holidays = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest --log-file ./pytest.log"
isort = "isort -c ."
