[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
portion = "==2.2.0"
PyYAML = "*"
homeassistant = "2022.2.8"
pytest-homeassistant-custom-component = "==0.7.6"
# lock homeassistant and pytest-homeassistant-custom-component versions
#homeassistant = "2022.2.8"
#pytest-homeassistant-custom-component = "==0.6.14"
#homeassistant = "2021.12.5"
#pytest-homeassistant-custom-component = "==0.5.9"
mypy = "*"
holidays = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
