---
input_boolean:
  guest_mode:
    initial: 'off'
  vacation_mode:
    initial: 'off'
  early_start:
    initial: 'off'

input_datetime:
  early_start_time:
    has_date: false
    has_time: true

sensor:
  - platform: schedule_state
    name: Thermostat State
    default_state: normal
    icon: mdi:thermometer
    events:
      - start: "0:00"
        end: "7:00"
        state: sleep
        icon: mdi:sleep

      - start: "6:30"
        end: "7:00"
        state: toasty
        icon: mdi:thermometer-plus

      - start: "7:00"
        state: normal

      - start: "16:00"
        end: "18:00"
        state: energy-saving
        icon: mdi:thermometer-minus
        condition:
          condition: state
          entity_id: input_boolean.guest_mode
          state: "off"

      - start: "18:00"
        end: "20:00"
        state: toasty

      - start: "20:00"
        end: "22:30"
        state: normal

      - start: "22:30"
        state: sleep

      # Early start - now controlled by "early_start" toggle
      - start: "{{ states('input_datetime.early_start_time') }}"
        end: "7:30"
        state: toasty
        condition:
          condition: state
          entity_id: input_boolean.early_start
          state: "on"

      # Monday/Friday afternoon - undo energy-saving
      - start: "16:00"
        end: "18:00"
        state: normal
        condition:
          condition: time
          weekday:
            - mon
            - fri

      # weekends
      - start: "0:00"
        end: "8:30"
        state: sleep
        condition: &weekend
          condition: time
          weekday:
            - sat
            - sun

      - start: "8:30"
        state: normal
        condition: *weekend

      - state: normal
        start: "20:00"
        end: "23:00"
        condition: &guest_mode
          condition: state
          entity_id: input_boolean.guest_mode
          state: "on"

      - start: "5:00"
        end: "10:00"
        state: normal
        condition: *guest_mode

      - start: "5:30"
        end: "6:00"
        state: toasty
        condition: *guest_mode

      # vacation mode
      - state: vacation
        condition:
          condition: state
          entity_id: input_boolean.vacation_mode
          state: "on"
