name: codespell
 
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  style:
    runs-on: "ubuntu-latest"
    name: Check spelling
    steps:
        - uses: "actions/checkout@v6"
        - uses: "actions/setup-python@v5"
          with:
            python-version: "3.x"
        - run: python3 -m pip install codespell
        - run: codespell -L hass -L iif custom_components/schedule_state/*.py tests/*.py *.md custom_components/schedule_state/services.yaml `find .github -name "*.md"`
