name: Flake8
 
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  style:
    runs-on: "ubuntu-latest"
    name: Check style formatting
    steps:
        - uses: "actions/checkout@v6"
        - uses: "actions/setup-python@v6"
          with:
            python-version: "3.x"
        - run: python3 -m pip install flake8
        - run: flake8 .
 
